/* <--- Hero Start ---> */

.bigthink-heading {
    font-family: var(--work-sans);
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 0.25rem;
    font-weight: 500;

}

.hero-text {
    max-width: 70%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* font-size: 2.4rem; */
    /* border: 2px solid black; */
  
  }

.bigthink-description {
    font-size: 1.5rem;

}

/* <--- Hero End ---> */


/* <--- Work Section Start ---> */

.work-section {
    position: relative;
    height: 100vh;

}

.work-main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 56.25%;
    display: flex;
    justify-content: space-between;
    margin: auto;

}

.bigthinkold-wrapper,
.bigthinknew-wrapper {
    width: 40%;
    perspective: 1000px;

}


.bigthinkold-front,
.bigthinkold-back,
.bigthinknew-front,
.bigthinknew-back {
    height: 90%;
    background: #5B5E73;
    color: #fff;
    font-family: var(--work-sans);
    cursor: pointer;

}

.bigthinknew-front,
.bigthinkold-front {
    font-weight: bold;
    font-size: 1.6rem;

}

.bigthinknew-back,
.bigthinkold-back {
    padding: 1rem;

}


/* <--- Work Section End ---> */


/* <--- What I Used Section Start ---> */

.skills-section {
    height: 100vh;

}

.tools-main {
    position: relative;
    height: 90%;
    width: 50%;
    margin: auto;

}

.tools-main__ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    list-style:square;
    font-weight: 300;

}

.tools-main__li {
    margin-top: 1rem;

}

.react-list {
    font-size: 1rem;
    font-weight: 500;

}