/* <--- Hero Start ---> */

.spokes-heading {
  font-family: var(--work-sans);
  font-size: 2rem;
  font-weight: bold;

}

.hero-text {
  max-width: 70%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

}

.bigthink-description {
  font-size: 1.5rem;

}

/* <--- Hero End ---> */


/* <--- Work Section Start ---> */

.work-section {
  position: relative;
  height: 100vh;

}

.work-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 56.25%;
  display: flex;
  justify-content: space-between;
  margin: auto;

}

.spokesCard-wrapper {
  width: 40%;
  perspective: 1000px;

}


.ringImgDiv { 
  width: 50%; 
  height: 90%;
  border-radius: 10px;

}

.ringsImg {
  width: 100%;
  border-radius: 20px;

}


.spokesCard-front,
.spokesCard-back {
  height: 90%;
  background: #5B5E73;
  color: #fff;
  font-family: var(--work-sans);
  cursor: pointer;

}

.spokesCard-front,
.spokesCard-back {
  padding: 1rem;

}


@media(max-width: 800px) {

  .work-section { padding-bottom: 3em; }
  .work-main { padding: 3em 0; margin-bottom: 3em;}


}


/* <--- Work Section End ---> */


/* <--- My Work Secton Start ---> */

.myWorkSection {
  position: relative;
  height: 100vh;

}

.myWorkText {
  position: absolute;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;

}

@media(max-width: 800px) {

  .myWorkSection {
    height: fit-content;
    padding-bottom: 2em;
    width: 100%;
    margin-top: 5em;

  }
  
  .myWorkText {
    position: relative;
    font-size: 1rem;
    top: 0;
    transform: translateY(0);
    margin-top: 2em;
    min-width: 100%;

  }

}

/* <--- My Work Secton End ---> */


/* <--- What I Used Section Start ---> */

.skillsSection {
  height: 100vh;

}

.tools-main {
  position: relative;
  height: 90%;
  width: 50%;
  margin: auto;

}

.tools-main__ul {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  list-style: square;
  font-weight: 300;

}

.tools-main__li {
  margin-top: 1rem;

}


@media(min-width: 800px) {

  .tools-main__ul {
    font-size: 1rem;
    font-weight: normal;

  }

  .tools-main { font-size: 1rem; }

}