@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* <--- Reset Start ---> */

/* Box sizing rules */
*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* <--- Reset End ---> */

/* <--- General Start ---> */

:root {

  /* Fonts */
  --bitter: "Bitter", serif;
  --work-sans: "Work Sans", serif;
  --roboto: "Roboto Slab", serif;

  font-size: 16px;

  --radius: 0.625rem;

  --background: oklch(1 0 0);

  --foreground: oklch(0.145 0 0);

  --card: oklch(1 0 0);

  --card-foreground: oklch(0.145 0 0);

  --popover: oklch(1 0 0);

  --popover-foreground: oklch(0.145 0 0);

  --primary: oklch(0.205 0 0);

  --primary-foreground: oklch(0.985 0 0);

  --secondary: oklch(0.97 0 0);

  --secondary-foreground: oklch(0.205 0 0);

  --muted: oklch(0.97 0 0);

  --muted-foreground: oklch(0.556 0 0);

  --accent: oklch(0.97 0 0);

  --accent-foreground: oklch(0.205 0 0);

  --destructive: oklch(0.577 0.245 27.325);

  --border: oklch(0.922 0 0);

  --input: oklch(0.922 0 0);

  --ring: oklch(0.708 0 0);

  --chart-1: oklch(0.646 0.222 41.116);

  --chart-2: oklch(0.6 0.118 184.704);

  --chart-3: oklch(0.398 0.07 227.392);

  --chart-4: oklch(0.828 0.189 84.429);

  --chart-5: oklch(0.769 0.188 70.08);

  --sidebar: oklch(0.985 0 0);

  --sidebar-foreground: oklch(0.145 0 0);

  --sidebar-primary: oklch(0.205 0 0);

  --sidebar-primary-foreground: oklch(0.985 0 0);

  --sidebar-accent: oklch(0.97 0 0);

  --sidebar-accent-foreground: oklch(0.205 0 0);

  --sidebar-border: oklch(0.922 0 0);

  --sidebar-ring: oklch(0.708 0 0);

}

html,
body {
  min-height: 100vh;
  height: 100%;

  font-family: var(--bitter);
  background: #E4E4E4;

}

img {width: 100%; height: 100%;}

.header {
  background: #D9D9D9;
  padding: 1em;
  font-weight: bold;
  font-size: 1.5rem;

}

h2 {
  text-transform: uppercase;
  font-family: var(--work-sans);
  width: fit-content;
  margin: auto;

}

a, Link { color: #01ffea; }

.main {
  height: 100%;

}

/* <--- General End ---> */

/* <--- Nav Start ---> */

.hero-nav-wrapper {
  height: 100vh;

}

.nav {
  background: #D9D9D9;
  height: 10%;
  padding: 1em 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.homeIcon {
  font-size: 2rem;
  color: #555;
  transition: 0.6s;
  cursor: pointer;

}

.homeIcon:hover {
  color: rgb(13, 82, 255);
  transform: translateY(-5px);

}

.img-div {
  width: 60px;
  height: 60px;
  margin-left: auto;
  border-radius: 100px;
  border: 2px solid #aaa;

}

.myPhoto {
  border-radius: 100px;
  object-fit: cover;

}

/* <--- Nav End ---> */

/* <--- Hero Start ---> */

.hero-section {
  height: 86%;
  width: 75%;
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  /* border: 2px solid black; */

}

.hero-text {
  width: fit-content;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.4rem;
  /* border: 2px solid black; */

}

/* <--- Hero End ---> */

/* <--- Projects Start ---> */

.projects-section {
  position: relative;
  min-height: 100vh;

}

.projects-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 56.25%;
  margin: auto;
  /* margin-top: 1em; */
  display: grid;
  grid-template-areas:
    "bigthink bigthink testudo testudo"  
    "nexus nexus nexus nexus"
    "nexus nexus nexus nexus"
    "ardour ardour ardour ardour";
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  /* border: 2px solid black; */

}

.projects-main > div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--work-sans);
  font-weight: bolder;
  font-size: 1.5rem;
  color: white;
  padding: 1em;
  cursor: pointer;

}

.project-span {
  width: fit-content;
  margin: auto;

}

  /* Ardour */

.ardour-wrapper {
  grid-area: ardour;
  height: 113px;

}

.ardour-front,
.ardour-back { background: #A35A5A; }

  /* Testudo */

.testudo-wrapper { grid-area: testudo; }

.testudo-front,
.testudo-back { background: #7C8EF2; }

  /* Nexus */

.nexus-wrapper { grid-area: nexus; }

.nexus-front,
.nexus-back { background: #428E58; }

  /* Bigthink */

.bigthink-wrapper { grid-area: bigthink; height: 113px;}

.bigthink-front,
.bigthink-back { background: #5B5E73; }

.nexus-wrapper,
.bigthink-wrapper,
.testudo-wrapper,
.ardour-wrapper {
  perspective: 1000px;

}

.project-description { font-size: 1rem; }

.front,
.back {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;

}

.front,
.back {
  position: absolute;
  backface-visibility: hidden;

}

.back {font-weight: normal;}

.ps {
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  color: #AAA;

}

/* <--- Projects End ---> */

/* <--- Skills Start ---> */

.skills-section {
  min-height: 100vh;
  position: relative;
  justify-content: space-between;

}

.skills-main {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40%;
  width: 20%;
  display: flex;
  flex-direction: column;
  /* border: 2px solid black; */

}

.skills-main > div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  /* border: 2px solid black; */justify-content: space-between;

}

.skills-main .icon {
  font-size: 2rem;
  cursor: pointer;

}

/* <--- Skills End ---> */

/* <--- Education Start ---> */

.education-section {
  min-height: 100vh;
  position: relative;

}

.education-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: fit-content;
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.umdHeading { 
  font-weight: bold;
  margin-bottom: 1em;

}

.education-img { border: 4px solid black; }

/* <--- Education End ---> */

/* <--- Contact Start ---> */

.contact-section {
  min-height: 50vh;
  position: relative;

}

.contact-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;

}

.email,
.mobile {font-weight: bold;}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}